@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-family: Kanit, sans-serif;
}
body{
  background: #740000;

}
button{
  cursor: pointer;
  border: none;
}

.container{
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}

@import "header";
@import "home";
@import "login";
@import "work";
@import "room";
@import "parents";