.work{
  &__title{
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  &__text{
    color: white;
    font-size: 18px;
    margin: 20px 0 90px;
  }
  &__subtitle{
    background: darkgray;
    padding: 5px 15px;
    border-radius: 8px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    max-width: max-content;
    span{
      font-size: 18px;
      font-weight: 800;
    }
  }
  &__row{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    column-gap: 75px;
    align-items: center;
  }
  &__right{
    &-title{
      margin-bottom: 65px;
    }
  }
}